@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: sans-serif;
}
.text-style{
 position: absolute;
  top: 200px;
  left: 140px;
  color: #fff;
}
.img-style {
position: relative;

}
.swiper-slide img {
    width: 100%;
    height: 700px;
  }
  
  
  